In [1]:
import pandas as pd
from datetime import datetime
import time
from tqdm.notebook import tqdm

import FinanceDataReader as fdr
from pykrx import stock
import pymysql
from sqlalchemy import create_engine
import requests
from bs4 import BeautifulSoup

HOSTNAME = "localhost"
PORT     = 3306
USERNAME = "lovedh"
PASSWORD = "123"
DATABASE = "etfkor"
CHARSET1  = "utf8"     # MySQL에서 사용할 캐릭터셋 이름
CHARSET2  = "utf-8"    # Python에서 사용할 캐릭터셋 이름

# 데이터베이스 포맷 설정
con_str_fmt = "mysql+mysqldb://{0}:{1}@{2}:{3}/{4}?charset={5}"
con_str = con_str_fmt.format(USERNAME, PASSWORD, HOSTNAME, PORT, DATABASE, CHARSET1)
pymysql.install_as_MySQLdb()

# mysql과 연결
import MySQLdb
engine = create_engine(con_str, encoding=CHARSET2)
conn = engine.connect()
print('...데이터베이스 연결 완료')


# 한국 etf 리스트 저장
etf_list = fdr.EtfListing('KR')

...데이터베이스 연결 완료

In [3]:
etf_list

     Symbol                Name
0    069500           KODEX 200
1    252670    KODEX 200선물인버스2X
2    102110           TIGER 200
3    153130          KODEX 단기채권
4    122630          KODEX 레버리지
..      ...                 ...
448  334700  KBSTAR 팔라듐선물인버스(H)
449  285010       KBSTAR 200중공업
450  284980        KBSTAR 200금융
451  287310     KBSTAR 200경기소비재
452  287300        KBSTAR 200건설

[453 rows x 2 columns]

In [5]:
etf_list[etf_list['Symbol']=='364960']

    Symbol                 Name
66  364960  TIGER KRX BBIG K-뉴딜

In [55]:

#for symbol in etf_list['Symbol']: 
url = "https://navercomp.wisereport.co.kr/v2/ETF/index.aspx?cmp_cd=069500"
result = requests.get(url)
bs_obj = BeautifulSoup(result.content, "html.parser")

end_price = bs_obj.find('th',{'class':'txt'})
print(end_price)

# #상장주식수
# no_today = bs_obj.find("div", {"class": "first"}) # 
# num_listed_shares = int(no_today.find_all("em")[1].text.replace(',',''))

# # 기초지수 부분
# base_info = bs_obj.find("table",{"class":"tbl_type1"})
# base_sub_info = base_info.find_all('span')
# base_index = base_sub_info[0].text # 기초지수
# type = base_sub_info[1].text #유형
# listed_day = base_info.find_all('td')[-1].text #상장일

# commission = bs_obj.find("table",{"summary":"펀드보수 정보"}).find('em').text # 수수료

# holdings = 

print(commission)
print(num_listed_shares)
print(type)
print(base_index)
print(listed_day)

None
0.150%
151750000
국내주식형, 대표지수
코스피 200
2002년 10월 14일

In [ ]:
<iframe id="coinfo_cp" title="종목분석 영역" src="https://navercomp.wisereport.co.kr/v2/ETF/index.aspx?cmp_cd=069500" width="680" height="2500" marginheight="0" bottommargin="0" topmargin="0" scrolling="no" frameborder="0" style="height: 2086px;"></iframe>